<%- include('partials/header', { title: 'Add Post', user: user }) %>

<h1><%= post?.title  %></h1>
<p><%= post?.content  %></p>
<!-- images -->
 <% post?.images?.forEach((image)=>{ %>
    <div>
        <img src="<%= image.url %>" alt="image">
    </div>
 <% }) %>

     <!-- action button -->
    <% if(user?._id?.toString() == post?.author._id?.toString()){ %>
        <div>
        <a href="/post/<%= post?._id %>/delete">Delete</a>
        <a href="/post/<%= post?._id %>/edit">Edit</a>
        </div>
        <!-- comment form -->
     <div>
        <h2>Comments</h2>
        <form action="/posts/<%=post?._id  %>/comments" method="post">
            <textarea name="content" rows="5" placeholder="Add comment"></textarea>
            <input type="submit" value="Comment">
        </form>
     </div>
    <% } %>
  <%- include('partials/footer') %>